---
import { Image } from 'astro:assets';
import TwoColumnsBlock from '../react/TwoColumnsBlock';
import leftBg from '../../assets/beauty-2.png';
import rightBg from '../../assets/m-2.jpg';

interface Props {
  leftTitle?: string;
  leftText?: string;
  pText?: string;
  leftButton?: string;
  rightButton?: string;
}

const {
  leftTitle = 'Makijaż Permanentny',
  leftText = 'Subtelny efekt, który podkreśla Twoje naturalne piękno.',
  pText = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
  leftButton = 'Umów wizytę',
} = Astro.props;
---

<section class="relative w-full overflow-hidden mx-auto">
  <Image
    src={leftBg}
    alt="Tło makijażu permanentnego"
    class="absolute left-10 top-15 bottom-0 object-contain object-top w-[65%]"
    loading="lazy"
    quality="high"
  />

  <div class="relative container mx-auto grid grid-cols-1 md:grid-cols-2">
    <article class="relative isolate">

      <TwoColumnsBlock
        subtitle={leftText}
        title={leftTitle}
        text={pText}
        buttonLabel={leftButton}
        className="justify-center pt-10 pb-20 md:pt-15 md:pb-25 lg:pt-20 lg:pb-30"
        subtitleClassName="text-[clamp(1rem,1.4vw,1rem)] uppercase text-slate-900 pb-4"
        titleClassName="text-slate-900 pb-5"
        textClassName="max-w-md text-slate-900"
        buttonClassName="text-white uppercase bg-[#999173] hover:bg-[#999173]/90 transition-colors"
      />
    </article>

    <article class="relative isolate flex h-full flex-col md:h-full">
      <div class="mt-auto px-6 pb-10 sm:px-10 md:px-12">
        <Image
          src={rightBg}
          alt="Powiększanie ust"
          class="h-64 w-full object-cover sm:h-72 md:h-80"
          loading="lazy"
          quality="high"
        />
      </div>
    </article>

  </div>
</section>